/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
.mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: gray;
}

.mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
    caret-color: gray;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple,
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
    background-color: gray;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: gray;
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: gray;
}

.mat-form-field-empty.mat-form-field-label {
    color: gray;
}

.mat-form-field-underline {
    background-color: gray;
}